@import "tailwindcss";

body{
   
    overflow-x: hidden;
}

.sun{
    animation: sunani 1s linear infinite;
    transition: .5s;
}

@keyframes sunani {
    0%{
        padding-top: 5px;
    }
    50%{
        padding-top: 0;
    }
    100%{
        padding-top: 5px;
    }

    
}